
<div class="page" id="detail-page">
    <header>
        <p class="empty">
            <a style="" class="go-back iconfont" href="javascript:window.history.go(-1);">&#xe655;</a>
        </p>

        <p class="header-tit">开心摇摇用户登录</p>

        <p class="empty">
           <!-- <a href="javascript:;"  style="" class="search  iconfont" >&#xe61b;</a>-->
            <a href="javascript:;"  style="" class="go-cart iconfont" >购物车</a>

        </p>
    </header>

    <div class="content-btm0">

        <div class="swiper-container"  >
            <div  class="swiper-wrapper">

            </div>

        </div>
        <div class="pagination-wrap">
            <div class="self-pagination"></div>
        </div>


    <div class="detail-btn">
        <button class="add-cart">添加到购物车</button>
    </div>
    </div>


   
</div>
