<div class="page" id="list-page">
    <header>
        <ul>
            <li class="left-btn"><</li>
            <li class="header-tit"><p>首页</p></li>
            <li class="right-btn">搜索</li>
        </ul>
    </header>
    <ul class="sub-header">
        <li>衬衫</li>
        <li>毛衫</li>
        <li>连衣裙</li>
        <li>高跟鞋</li>
    </ul>
    <div class="content has-sub-header">
        <div class="load-wrap">
            <span class="load-text">下拉刷新</span>
            <span class="load-icon"></span>
        </div>
        <div class="scroll-wrap">
            <ul class="product-list scroller">

            </ul>
        </div>

    </div>
    <footer>
        <ul>
            <li><a href="index.html">首页</a></li>
            <li>列表</li>
            <li class="go-cart">购物车</li>
            <li>我的</li>
            <li>更多</li>
        </ul>

    </footer>

    <div id="loading">
        <span>Loading...</span>
    </div>
</div>